<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hsap.myapplication">

    <uses-permission android:name="com.zhaogui.aaa.permission" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <permission
        android:name="com.zhaogui.aaa.permission"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".aidl.AidlActivity" />
        <activity android:name=".messager.MessageActivity" />

        <service
            android:name=".messager.MessageService"
            android:enabled="true"
            android:exported="true"
            android:process=":message"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.zhao.message" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name=".aidl.IBookManagerService"
            android:process=":aidl" />

        <provider
            android:name=".provider.MyContentProvider"
            android:authorities="com.hsap.myapplication.book.provider"
            android:enabled="true"
            android:exported="true"
            android:process=":provider"
            tools:ignore="ExportedContentProvider" />

        <activity android:name=".provider.ProviderActivity" />
        <activity android:name=".socket.SocketActivity" />
        <service
            android:name=".socket.SocketService"
            android:process=":socket" />
        <activity android:name=".binder.BinderActivity"></activity>
        <service android:name=".binder.BinderPoolService"
            android:process=":binder"/>
    </application>

</manifest>